
.Countries-header {
  background-image: linear-gradient(to bottom, #f5f2f0 0%, #f5f2f0 50%);
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
img {

  padding: 1vmin;
  width: 4vmin;
}

h2{
  color: darkblue;
  font-size: calc(4vmin);
  font-family: Futura, Helvetica, sans-serif;
}

hrow{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

htext{
  padding: 2vmin;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

hcol{
      width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

